# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# 虚拟环境
.venv/
venv/
env/

# 环境变量
.env

# IDE
.vscode/
.idea/

# 测试
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Docker
pg_data/

docs/项目解析-自用.md
